{% extends "layouts/main.html" %}

{% block content %}

    <div class="row">
        <div class="four columns">
            <form method="get">
                <label for="currency1">Währung 1:</label>
                <input type="text" name="currency1" value="{{ currency1 }}" id="currency1" />

                <label for="currency2">Währung 2:</label>
                <input type="text" name="currency2" value="{{ currency2 }}" id="currency2" />

                <label for="rate">Wechselkurs:</label>
                <input type="text" name="rate" value="{{ rate }}" id="rate" />

                <br />

                <input type="submit" value="Absenden!" />
            </form>
        </div>
        <div class="four columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>{{ currency1 }}</th>
                        <th>{{ currency2 }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table1 %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="four columns">
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>{{ currency2 }}</th>
                        <th>{{ currency1 }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in table2 %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}